.description-container {
  margin: 12px 14px 0 14px;
  background-color: var(--page-right-container-color-2);
  border-radius: 8px;
  color: antiquewhite;
}

.description-title {
  margin: 0 12px;
  border-bottom: 1px solid var(--border-color);
}

.description-title .text-h6 {
  margin: 8px 0;
  font-size: var(--font-size-normal);
  padding-top: 8px;
  color: var(--text-black);
  text-transform: uppercase;
}

.description-text {
  margin: 0 12px;
  border-bottom: 1px solid var(--border-color);
}

.description-text .text-p {
  margin: 8px 0;
  font-size: var(--font-size-small);
  padding-top: 8px;
  color: var(--text-black);
}

.description-text .text-p strong {
  font-size: 15px;
}

.contact-link {
  text-decoration: none;
  color: var(--contact-link-color);
  transition: all 0.25s ease-in-out;
}

.contact-link:hover {
  color: var(--contact-link-hover);
  font-weight: 600;
}

.contact-menu-top-div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-row-gap: 16px;
  row-gap: 16px;
  grid-column-gap: 10px;
  column-gap: 10px;
  margin: 14px 12px 12px 12px;
  border-bottom: 1px solid var(--background-hover-color);
  padding-bottom: 8px;
}

.contact-item-container {
  background-color: var(--page-right-container-color-2);
  position: relative;
  border-radius: 10px;
  box-shadow: -1px -1px 3px #000000a1;
}

.contact-item-container-link {
  background-color: var(--page-right-container-color-2);
  position: relative;
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer;
  color: var(--color-normal);
  box-shadow: -1px -1px 3px #000000a1;
  transition: all 0.2s ease-in-out;
}

.contact-item-container-link:hover {
  box-shadow: -2px -2px 12px #000000a1;
  color: var(--color-highlight);
}

.contact-item-container-top {
  position: absolute;
  top: -8px;
  left: 4px;
}

.contact-item-container-top {
  display: flex;
  align-items: center;
}

.contact-item-icon {
  height: 24px;
  width: 24px;
  margin-right: 10px;
}

.contact-item-text {
  /* display: none; */
  font-size: 14px;
}

.contact-item-container-text {
  margin: 14px 6px 6px 6px;
}

.contact-form-div {
  margin: 4px 12px 12px 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-form-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-row-gap: 16px;
  row-gap: 16px;
  grid-column-gap: 10px;
  column-gap: 10px;
  margin: 14px 12px 12px 12px;
  width: 100%;
}

.contact-item-name,
.contact-item-email {
  height: 25px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  padding: 4px 8px;
  font-size: var(--font-size-14);
}

.contact-item-name::placeholder,
.contact-item-email::placeholder,
.contact-item-message::placeholder {
  color: var(--nav-hover-color);
}

.contact-message-container {
  width: 100%;
  height: auto;
}

.contact-item-message {
  width: 100%;
  min-height: 75px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  resize: vertical;
  font-size: var(--font-size-16);
}

.contact-send {
  width: 100%;
  margin-top: 12px;
}

.contact-send-button {
  width: 75px;
  height: 35px;
  font-size: var(--font-size-16);
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.15s ease-in-out;
  background-color: var(--button-color-2);
  border: 1px solid var(--border-color);
  color: var(--color-highlight);
}

.contact-send-button:hover {
  background-color: var(--background-hover-color);
}

.contact-form-message {
  text-align: center;
}

.contact-form-message-p {
  margin: 0;
  font-size: var(--font-size-14);
  text-align: centers;
}

@media (max-width: 912px) {
  .contact-menu-top-div {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 695px) {
  .contact-form-container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 680px) {
  .contact-menu-top-div {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 455px) {
  .contact-item-container-text {
    font-size: 14px;
  }
}
