.description-container {
  margin: 12px 14px 0 14px;
  background-color: var(--page-right-container-color-2);
  border-radius: 8px;
  color: antiquewhite;
}

.description-title {
  margin: 0 12px;
  border-bottom: 1px solid var(--border-color);
}

.description-title .text-h6 {
  margin: 8px 0;
  font-size: var(--font-size-normal);
  padding-top: 8px;
  color: var(--text-black);
  text-transform: uppercase;
}

.description-text {
  margin: 0 12px;
  border-bottom: 1px solid var(--border-color);
}

.description-text .text-p {
  margin: 8px 0;
  font-size: var(--font-size-small);
  padding-top: 8px;
  color: var(--text-black);
}

.description-text .text-p strong {
  font-size: 15px;
}

.contact-link {
  text-decoration: none;
  color: var(--contact-link-color);
  transition: all 0.25s ease-in-out;
}

.contact-link:hover {
  color: var(--contact-link-hover);
  font-weight: 600;
}

.skills-container {
  margin-bottom: 20px;
}
