@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap");
:root {
  --background-color: #fafafa;
  --nav-background: #fcfdfd;
  --background-image: linear-gradient(315deg, #ffffff 0%, #ffffff 90%);
  --color-highlight: rgba(0, 0, 0, 1);
  --color-normal: rgba(0, 0, 0, 0.75);
  --home-background: #f0f0f0;
  --navbar-color: #f3f3f5;
  --border-color: #5f6368;
  --background-hover-color: #c4c4c487;
  --nav-hover-color: #4f4f50;
  --button-color: #9aa0a6;
  --button-background: rgb(22, 26, 49);
  --text-color: #0c0c0c;
  --text-color-2: #8ab4f8;
  --text-black: #000000;
  --footer-border: #212327;
  --footer-text: rgba(255, 255, 255, 0.54);

  --page-container-color: rgba(255, 255, 255, 0.75);
  --page-right-container-color: rgba(255, 255, 255, 0.3);
  --page-right-container-color-2: rgba(229, 229, 229, 1);

  --construction-text-color: black;

  --switch-background-color: #323232;
  --switch-button: rgba(255, 255, 255, 0.8);

  --folder-background: #b8b8b85e;
  --folder-background-hover: #b6b6b6ab;

  --select-background: rgb(229 229 229);

  --folder-text-color: #676565;

  --contact-link-color: #040404;
  --contact-link-hover: #074018;

  --top-buttons-green: rgba(0, 178, 13, 1);
  --top-buttons-yellow: rgba(202, 202, 19, 1);
  --top-buttons-red: rgba(208, 0, 0, 0.75);

  /* Text sizes */
  --font-size-small: 14px;
  --font-size-normal: 16px;
  --font-size-medium: 18px;
  --font-size-large: 36px;

  --font-size-12: 12px;
  --font-size-14: 14px;
  --font-size-16: 16px;
  --font-size-24: 24px;
  --font-size-32: 32px;

  /* Typewriter Animation parameters */
  --animation-bg-color: #101427;
  --typewriterSpeed: 6s;
  --typewriterCharacters: 20;

  /* Font family */
  --font-family: "Source Code Pro", monospace;
}

[data-theme="dark"] {
  --background-color: #1e2020;
  --nav-background: #2d3436;
  --background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
  --color-highlight: rgba(255, 255, 255, 1);
  --color-normal: rgba(172, 172, 172, 1);
  --home-background: #171717;
  --navbar-color: #303134;
  --border-color: #5f6368;
  --background-hover-color: #5f636887;
  --nav-hover-color: #4f4f50;
  --button-color: #9aa0a6;
  --button-background: rgb(22, 26, 49);
  --text-color: #e8eaed;
  --text-color-2: #8ab4f8;
  --text-black: #ffffff;
  --footer-border: #212327;
  --footer-text: rgba(255, 255, 255, 0.54);

  --page-container-color: rgba(95, 99, 104, 0.27);
  --page-right-container-color: rgba(95, 99, 104, 0.3);
  --page-right-container-color-2: rgba(95, 99, 104, 0.2);

  --construction-text-color: antiquewhite;

  --switch-background-color: #fcfcfc;
  --switch-button: rgba(25, 25, 25, 0.8);

  --folder-background: #3031345e;
  --folder-background-hover: #303134ab;

  --select-background: rgb(66 69 71);

  --folder-text-color: #afafaf;

  --contact-link-color: antiquewhite;
  --contact-link-hover: #90ee90;

  --top-buttons-green: rgba(1, 255, 20, 0.5);
  --top-buttons-yellow: rgba(252, 252, 0, 0.82);
  --top-buttons-red: rgba(255, 6, 6, 0.75);

  /* Text sizes */
  --font-size-small: 14px;
  --font-size-normal: 16px;
  --font-size-medium: 18px;
  --font-size-large: 36px;

  --font-size-12: 12px;
  --font-size-14: 14px;
  --font-size-16: 16px;
  --font-size-24: 24px;
  --font-size-32: 32px;

  /* Typewriter Animation parameters */
  --animation-bg-color: #101427;
  --typewriterSpeed: 6s;
  --typewriterCharacters: 20;

  /* Font family */
  --font-family: "Source Code Pro", monospace;
}

body {
  margin: 0;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.global-container {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  /* background-image: var(--background-image); */
  transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
}

.lazy-loading {
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color);
  font-size: 16px;
  background-color: var(--background-color);
  font-style: italic;
  margin: 0;
  padding: 0;
}

.main-page-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-normal);
}

.inner-main-container {
  height: 500px;
  width: 900px;
  background-color: var(--page-container-color);
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.left-nav-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 35px;
  margin: 8px 0;
}

.left-nav-container:hover {
  color: var(--text-black);
  cursor: pointer;
  font-weight: 600;
}

.left-nav {
  display: flex;
  align-items: center;
  height: 30px;
}

.left-nav-active {
  font-weight: 600;
}

.about-nav-icon {
  width: 20px;
  margin: 0 8px;
  height: 100%;
  display: flex;
  align-items: center;
}

.left-page-container {
  width: 215px;
  height: calc((100%) - (5%));
  margin-left: 12px;
  font-size: var(--font-size-medium);
}

.right-page-container {
  width: calc((100%) - (27%));
  height: calc((100%) - (5%));
  background-color: var(--page-right-container-color);
  border-radius: 8px;
  font-size: var(--font-size-medium);
  overflow-y: auto;
  box-shadow: -1px 1px 6px 0px #000000a1;
}

.right-page-container::-webkit-scrollbar {
  border-radius: 8px;
  width: 12px;
}

.right-page-container::-webkit-scrollbar-track {
  background: rgb(97, 93, 93);
  border-radius: 6px;
}

.right-page-container::-webkit-scrollbar-thumb {
  background: rgb(75, 75, 75);
  border-radius: 6px;
}

.right-page-container::-webkit-scrollbar-thumb:hover {
  background: rgb(156, 156, 156);
}

.bottom-separator {
  width: 100%;
  border-bottom: 1px solid rgba(95, 99, 104, 0.5);
}

.about-div-text {
  margin: 12px;
}

.construction-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.construction-inner-container {
  background-color: var(--page-right-container-color-2);
  border-radius: 8px;
  color: var(--construction-text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95%;
  width: 95%;
}

.construction-image {
  width: 350px;
  height: 350px;
  filter: grayscale(0.7);
  transition: all 0.5s ease-in-out;
}

.construction-image:hover {
  transform: scale(1.1);
  filter: drop-shadow(-8px 8px 8px black) grayscale(0.7);
}

.construction-text-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.construction-text {
  font-size: 40px;
  margin: 0;
  text-transform: uppercase;
}

/* Custom Switch CSS  */
.switch-input {
  height: 0;
  width: 0;
  visibility: hidden;
}

.switch-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 100px;
  height: 30px;
  background: var(--switch-background-color);
  border-radius: 100px;
  position: relative;
  transition: background-color 0.2s;
  border: 1px solid var(--border-color);
}

.switch-label .switch-span {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 45px;
  height: 25px;
  border-radius: 45px;
  transition: 0.2s;
  background: var(--switch-button);
  box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}

.switch-input:checked + .switch-label .switch-span {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

.switch-label:active .switch-span {
  width: 60px;
}

.theme-container {
  display: flex;
  align-items: center;
  margin: 0 12px;
  border-bottom: 1px solid var(--border-color);
}

.text-p {
  margin: 8px 0;
  font-size: var(--font-size-small);
  padding-top: 8px;
  color: var(--text-black);
}
