.home-container {
  height: 630px;
  width: 980px;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: var(--font-size-large);
  background-color: var(--home-background);
  border-radius: 10px;
  box-shadow: -1px 2px 7px 0px #0c0303;
  border: 1px solid var(--border-color);
  overflow: hidden;
  position: relative;
  transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
}

.home-inner-container {
  width: 100%;
  height: calc(100% - 102px);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.home-page-div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  font-size: 24px;
}

.home-page-status {
  font-size: 16px;
  display: flex;
  align-items: center;
  margin-top: 12px;
}

.home-page-status .status-description,
.home-page-status .status-title {
  margin-left: 6px;
}

.home-page-div .home-page-inner-div {
  width: 90%;
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-page-div .align-center {
  align-items: center;
}

.home-page-div .home-page-img {
  width: 70%;
  border-radius: 50%;
  border: 5px solid var(--border-color);
  filter: blur(1px) grayscale(1);
  /* transition: all 0.15s ease-in-out; */
  transition: all 400ms cubic-bezier(0.5, 0, 0.5, 1), opacity 150ms linear;
  opacity: 0.7;
}

.home-page-div .home-page-img:hover {
  filter: blur(0) grayscale(0);
  border-radius: 25%;
  opacity: 1;
}

.home-page-div:nth-child(1) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-page-div:nth-child(2) {
  display: flex;
  flex-direction: column;
}

.home-page-h3 {
  font-size: 2.4ch;
  margin: 12px 0;
}

.home-page-h1 {
  color: var(--text-color);
  font-size: 3ch;
  white-space: nowrap;
  margin: 14px 0;
}

.home-spinner-div {
  width: 100%;
  height: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px 0;
}

.frontend-dev-container {
  width: 100%;
  height: 55px;
  position: relative;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.frontend-dev-container hr {
  border: 1px solid var(--color-normal);
  margin: 0;
  width: 100%;
}

.frontend-text-h5 {
  margin: 0;
  padding: 4px;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  font-size: 1.5ch;
}

.frontend-box-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.frontend-text-container {
  background-color: var(--home-background);
}

.resume-container {
  width: 100%;
  height: 45px;
  text-align: center;
  margin-top: 12px;
}

.resume-link {
  text-decoration: none;
  font-size: var(--font-size-22);
  color: var(--color-normal);
  padding: 6px;
  border: 1px solid transparent;
  border-radius: 8px;
  position: relative;
  transition: all 0.15s ease-in-out;
  opacity: 0.5;
}

.resume-link:hover {
  color: var(--text-color);
  border: 1px solid var(--border-color);
  opacity: 1;
}

.resume-icon {
  height: 15px;
  width: 15px;
  position: absolute;
  top: -8px;
  right: -4px;
  background-color: var(--home-background);
  padding: 2px;
  z-index: 1;
  opacity: 0;
  color: var(--color-normal);
  transition: all 0.15s ease-in-out;
}

.resume-link:hover .resume-icon {
  opacity: 1;
}

/* Responsiveness */
@media (max-width: 999px) {
  .home-container {
    width: 90vw;
    height: 85vh;
  }

  .home-page-div .home-page-inner-div {
    width: 100%;
    height: auto;
  }

  .home-page-div .home-page-inner-div:nth-child(1) {
    margin-top: 12px;
  }
}

@media (max-width: 820px) {
  .home-page-div {
    align-items: center;
  }

  .home-page-div:nth-child(1) {
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 24px;
    margin-top: 12px;
  }

  .home-page-div .home-page-inner-div {
    align-items: center;
  }

  .home-page-div:nth-child(2) {
    margin-bottom: 24px;
  }

  .home-page-h3 {
    font-size: 2.5ch;
  }

  .home-page-h1 {
    font-size: 4ch;
  }

  .home-page-div .home-page-img {
    width: 50%;
    filter: blur(0);
    opacity: 0.8;
  }
}
