.navbar-container {
  width: 100%;
  height: 54px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: var(--navbar-color);
  box-shadow: 0 2px 7px -2px #0c0303;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-buttons-div {
  width: 120px;
  height: 45px;
  display: flex;
  align-items: center;
  margin: 0 8px;
}

.navbar-buttons-div-item {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 0 6px;
}

.navbar-buttons-div-item:nth-child(1) {
  background-color: var(--top-buttons-red);
  margin-left: 18px;
}

.navbar-buttons-div-item:nth-child(2) {
  background-color: var(--top-buttons-yellow);
}
.navbar-buttons-div-item:nth-child(3) {
  background-color: var(--top-buttons-green);
}

.navlinks-div {
  display: flex;
  align-items: center;
  border-radius: 10px;
  border: 1px solid var(--border-color);
  /* background-color: var(--nav-background); */
  margin: 4px 8px;
}

.nav-icons {
  height: 15px;
  width: 15px;
  margin: 8px;
}

.nav-link {
  text-decoration: none;
  color: var(--color-normal);
  height: 25px;
  display: flex;
  align-items: center;
  padding: 6px 4px;
  transition: all 0.15s ease-in-out;
  border-radius: 10px;
  cursor: pointer;
}

.nav-link:nth-child(6) {
  border-right: none;
}

.nav-link:hover {
  background-color: var(--background-hover-color);
}

.nav-link-p {
  font-size: 0.6ch;
  text-align: center;
  margin: 0;
  padding: 0;
  width: max-content;
  font-weight: 500;
}

.active-link {
  background-color: var(--background-hover-color);
  color: var(--color-highlight);
}

.nav-link.active {
  background-color: var(--background-hover-color);
  color: var(--color-highlight);
}

.separator {
  height: 24px;
  border-right: 1px solid var(--background-hover-color);
  margin: 0;
  padding: 0;
}

.mobile-navlinks {
  display: none;
  position: relative;
  width: 100%;
  height: 39px;
  margin: 4px;
  z-index: 1;
}

.mobile-menu-p {
  font-size: 16px;
  margin: 0;
  padding: 0;
  color: var(--text-color);
  text-align: center;
}

.mobile-links {
  position: absolute;
  width: 200px;
  left: -10%;
  top: 50px;
  background-color: var(--background-color);
  border-radius: 4px;
  border: 1px solid var(--border-color);
}

.mobile-menu-icon {
  color: var(--color-normal);
  height: 24px;
  width: 24px;
}

.mobile-menu-name {
  display: flex;
  align-items: center;
  height: 33px;
  padding: 4px;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

.mobile-menu-name:hover {
  background-color: var(--background-hover-color);
  border: 1px solid var(--border-color);
}

@media (max-width: 945px) {
  .navlinks-div {
    display: none;
  }

  .mobile-navlinks {
    display: block;
    display: flex;
    align-items: center;
  }

  .separator {
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--border-color);
    margin: 0;
    padding: 0;
    height: 0;
  }

  .nav-link {
    border-radius: 0;
  }
}
