.work-page-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-normal);
}

.blog-container {
  margin: 12px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  column-gap: 10px;
  row-gap: 10px;
}

.project-container {
  position: relative;
  background-color: var(--folder-background);
  border: 3px solid var(--border-color);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

.project-container .image-section {
  height: 130px;
  margin: 8px;
  border: 1px solid var(--border-color);
  overflow: hidden;
  position: relative;
}

.project-container .image-section img {
  width: 100%;
  height: 100%;
}

.text-overlay {
  width: 100%;
  height: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
}

.text-overlay-text {
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  margin: 0;
  display: none;
}

.project-container:hover .text-overlay {
  height: 100%;
}

.project-container:hover .text-overlay-text {
  display: block;
}

.description-section {
  height: 54px;
  overflow-y: auto;
  margin: 0 8px;
  border: 1px solid var(--border-color);
  color: var(--color-normal);
  border-radius: 4px;
}

.description-section::-webkit-scrollbar {
  display: none;
}

.about-nav-item {
  font-size: 16px;
}

.description-section-p {
  font-size: 14px;
  padding: 4px;
  margin: 0;
}

.button-section {
  height: 24px;
  margin: 4px 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button-section-a {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: var(--color-normal);
}

.button-section-a:hover {
  color: var(--text-color);
}

.button-section-p {
  margin: 0;
  padding-left: 4px;
  font-size: 14px;
}

.blog-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: var(--folder-background);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  box-shadow: -1px -1px 2px 0 grey;
  position: relative;
  text-decoration: none;
  color: var(--color-normal);
}

.blog-item:hover {
  background-color: var(--folder-background-hover);
  color: var(--color-highlight);
}

.folder-icon {
  width: 100%;
  height: 75px;
  margin-top: 4px;
}

.folder-text {
  margin: 15px 0;
  font-size: 16px;
  color: var(--folder-text-color);
  text-align: center;
}

.folder-description {
  position: absolute;
  left: -10px;
  top: 125px;
  right: 0;
  background-color: var(--navbar-color);
  display: none;
  font-size: var(--font-size-14);
  margin: 8px;
  padding: 8px;
  z-index: 1;
  border-radius: 10px;
  box-shadow: -1px -1px 2px 0 grey;
  transition: all 0.3s ease-in-out;
  text-align: center;
}

.blog-item:hover .folder-description {
  display: block;
}

@media (max-width: 650px) {
  .blog-container {
    grid-template-columns: 1fr;
  }
}
